<div class="container">
  <div class="login-form">
    <ng-template #success>
      <p>Success!</p>
    </ng-template>
    <div class="login-form-container" *ngIf="!submitted; else success">
      <div class="login-logo">
        <img src="assets/imgs/logo.png" alt="">
        <span>Interns app</span>
      </div>
      <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email"
                   type="email"
                   [class]="getInputFormClass('email')"
                   placeholder="Email"
                   id="email">
          </div>
          <div class="input-field">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password"
                   type="password"
                   [class]="getInputFormClass('password')"
                   placeholder="Password"
                   id="password">
          </div>
          <div class="input-field">
            <label for="passwordConfirm" class="form-label">Confirm password</label>
            <input formControlName="passwordCheck"
                   type="password"
                   [class]="getInputFormClass('passwordCheck')"
                   placeholder="Retype password"
                   id="passwordConfirm">
          </div>
          <div class="input-field">
            <label for="birthdate" class="form-label">Birthdate</label>
            <input formControlName="birthdate"
                   type="date"
                   [class]="getInputFormClass('birthdate')"
                   placeholder="Birthdate"
                   id="birthdate">
          </div>
          <div class="input-field">
            <button class="register-button"
                    type="submit">{{'Register' | uppercase}}</button>
          </div>
          <div class="terms">
            Terms and conditions
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="background-cover">
  </div>
</div>
