/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/vrw5ppj.css");

* {
  font-family: degular, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
